src
src/app
src/app/**/*.js
src/app/**/*.jsx
src/app/**/*.ts
src/app/**/*.tsx
src/app/**/*.d.ts
src/app/**/*.test.js
src/app/**/*.test.jsx
src/app/**/*.test.ts
src/app/**/*.test.tsx
src/app/**/*.spec.js
src/app/**/*.spec.jsx
src/app/**/*.spec.ts
src/app/**/*.spec.tsx
src/app/**/*.stories.js
src/app/**/*.stories.jsx
src/app/**/*.stories.ts
src/app/**/*.stories.tsx
src/app/**/*.stories.mdx
src/app/**/*.mdx
src/app/**/*.md
src/app/**/*.json
src/app/**/*.css
src/app/**/*.scss
src/app/**/*.sass
src/app/**/*.less
src/app/**/*.styl
./*.ts
./*.tsx
./*.d.ts
